@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 58% 98%;
    --foreground: 50 80% 2%;
    --muted: 230 6% 88%;
    --muted-foreground: 230 15% 32%;
    --popover: 50 58% 98%;
    --popover-foreground: 50 80% 2%;
    --card: 50 58% 98%;
    --card-foreground: 50 80% 2%;
    --border: 50 8% 88%;
    --input: 50 8% 88%;
    --primary: 50 60% 88%;
    --primary-foreground: 50 60% 8%;
    --secondary: 230 60% 88%;
    --secondary-foreground: 230 60% 28%;
    --accent: 230 60% 88%;
    --accent-foreground: 230 60% 28%;
    --destructive: 21 82% 28%;
    --destructive-foreground: 21 82% 88%;
    --ring: 50 60% 88%;
    --chart-1: 50 60% 88%;
    --chart-2: 230 60% 88%;
    --chart-3: 230 60% 88%;
    --chart-4: 230 60% 91%;
    --chart-5: 50 63% 88%;
    --radius: 0.5rem;

    --sidebar-background: 50 58% 98%;
    --sidebar-foreground: 50 80% 2%;
    --sidebar-primary: 50 60% 88%;
    --sidebar-primary-foreground: 50 60% 8%;
    --sidebar-accent: 230 60% 88%;
    --sidebar-accent-foreground: 230 60% 28%;
    --sidebar-border: 50 8% 88%;
    --sidebar-ring: 50 60% 88%;
  }

  .dark {
    --background: 50 54% 3%;
    --foreground: 50 34% 97%;
    --muted: 230 6% 12%;
    --muted-foreground: 230 15% 68%;
    --popover: 50 54% 3%;
    --popover-foreground: 50 34% 97%;
    --card: 50 54% 3%;
    --card-foreground: 50 34% 97%;
    --border: 50 8% 15%;
    --input: 50 8% 15%;
    --primary: 50 60% 88%;
    --primary-foreground: 50 60% 8%;
    --secondary: 230 60% 88%;
    --secondary-foreground: 230 60% 28%;
    --accent: 230 60% 88%;
    --accent-foreground: 230 60% 28%;
    --destructive: 21 82% 56%;
    --destructive-foreground: 0 0% 0%;
    --ring: 50 60% 88%;
    --chart-1: 50 60% 88%;
    --chart-2: 230 60% 88%;
    --chart-3: 230 60% 88%;
    --chart-4: 230 60% 91%;
    --chart-5: 50 63% 88%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}