@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 268 57% 100%;
    --foreground: 268 50% 0%;
    --muted: 0 30% 92%;
    --muted-foreground: 0 7% 29%;
    --popover: 268 57% 100%;
    --popover-foreground: 268 50% 0%;
    --card: 268 57% 100%;
    --card-foreground: 268 50% 0%;
    --border: 268 5% 91%;
    --input: 268 5% 91%;
    --primary: 268 20% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 30%;
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 30%;
    --destructive: 5 89% 28%;
    --destructive-foreground: 5 89% 88%;
    --ring: 268 20% 48%;
    --chart-1: 268 20% 48%;
    --chart-2: 0 0% 90%;
    --chart-3: 0 0% 90%;
    --chart-4: 0 0% 93%;
    --chart-5: 268 23% 48%;
    --radius: 0.5rem;

    --sidebar-background: 268 57% 100%;
    --sidebar-foreground: 268 50% 0%;
    --sidebar-primary: 268 20% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 90%;
    --sidebar-accent-foreground: 0 0% 30%;
    --sidebar-border: 268 5% 91%;
    --sidebar-ring: 268 20% 48%;
  }

  .dark {
    --background: 208 37% 3%;
    --foreground: 208 24% 98%;
    --muted: 208 6% 13%;
    --muted-foreground: 208 13% 62%;
    --popover: 208 37% 3%;
    --popover-foreground: 208 24% 98%;
    --card: 208 37% 3%;
    --card-foreground: 208 24% 98%;
    --border: 208 11% 15%;
    --input: 208 11% 15%;
    --primary: 208 76% 78%;
    --primary-foreground: 208 76% 18%;
    --secondary: 208 3% 8%;
    --secondary-foreground: 208 3% 68%;
    --accent: 208 9% 16%;
    --accent-foreground: 208 9% 76%;
    --destructive: 9 87% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 208 76% 78%;
    --chart-1: 208 76% 78%;
    --chart-2: 208 3% 8%;
    --chart-3: 208 9% 16%;
    --chart-4: 208 3% 11%;
    --chart-5: 208 79% 78%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}